<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <link rel="stylesheet" href="/styles/main.css">
  <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
  
</head>
<body>
  <div class="container blog-container">
    <div class="infoblog">
        <h1  class="postblogtitle">Blog's Post</h1>
        <a id="newPostBtn" href="/new">New Post</a>
        <ul id="postsList">
          <% posts.forEach(post=> { %>
            <li>
              <h2>
                <%=post.title%>
              </h2>
              <small>
                <%=post.date %>
              </small>
              <p>
                <%=post.content%>
              </p>
              <small class="author">By: <%=post.author%> </small>
              <span><a class="edit" href="/edit/<%= post.id %>">Edit</a></span>
              <span><a class="delete" href="/api/posts/delete/<%= post.id %>">Delete</a></span>
            </li>
            <% }); %>
        </ul>
    </div>
  
  </div>
  <hr>



</body>

</html>